
body{
    background-image: url(../images/hypnotize.png);
    font-family: 'Comfortaa', cursive;
}


.navbar-brand{
width:250px;
height:80px;
text-align: center;
background-color: #4aaaa5;
color: #ffffff;
margin-left:50px;
padding:0px;

}


.navbar{
    
    background-color:#e6e7dc;
    width:100%;
    height: 100%;
    padding:0px;
    font-family: 'Comfortaa', cursive;

       
 }


.nav-item,
.nav-link{
     color: #777771;

}



section,
.row-1,
.row-2{
background-color:#e6e7dc;
color: #777771;
padding:10px;
margin-top: 20px;
font-family: 'Comfortaa', cursive;

}

#headshot{
    width:230px;
    height:230px;
    margin-bottom: 10px;
    margin-right:20px;
    float: left;
    border-style: dotted;
   padding:10px;
 
}


hr{
    width:95%;
   }



.row-4{
    clear: both;
    background-color:#4aaaa5;
   padding-top: 15px;
    position: relative;
    margin-top: 20px;
}


.row-3,
.footer{
    background-color:#777777;
    text-align: center;
    color:#ffffff;
    font-size: 17px;
    width:100%;
    padding:1%;
    position:relative;

}



@media (max-width: 576px){
    #headshot{
        margin:0 auto;
        width:100%;
        height:auto;
        float:left;
        padding:0;
        margin-bottom: 20px;
    }

    h2{
        text-align:center;
    }

    .auth-image{
        width:100%;
        height:auto;
        float:left;
    }

    .gallery{
        width:100%;
        margin:0 auto;
        float: left;
        padding:0px;
    }
}